<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ru.kuchanov.simplerssreader"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_rss_feed_blue_grey_500_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/My.Theme.Light">

        <activity android:name=".activity.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".robospice.HtmlSpiceService"
            android:enabled="true"/>
        <service
            android:name=".robospice.HtmlSpiceServiceOffline"
            android:enabled="true"/>


    </application>

</manifest>
